<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Havi áttekintő - {{currentMonthName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="isLoading">
    <ion-row class="ion-justify-content-center">
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row class="ion-justify-content-center">
      <ion-button color="success" (click)="showMonthData()">{{monthStatusText}} hónap -
        {{previousMonthName}}</ion-button>
    </ion-row>
    <ion-row *ngIf="data && data.length > 0">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let patient of data">
            <ion-label>{{patient.name}}: {{patient.hours}} óra</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="data && data.length > 0">
      <ion-button color="success" (click)="writeToClipboard()">Adatok másolása</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>